<!DOCTYPE html>
<html>
  <head>
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
    <title>Shoe Store DB</title>
  </head>
  <body>
    <div class="container">
      <div class="jumborton">
        <h1>Store Database</h1>
      </div>

      <form action="/brands" method="post">
        <h3>Add a Brand to Store Database</h3>
        <input type="text" name="brand_name" placeholder="Enter Brand Name" required>
        <input type="number" name="price" placeholder="Enter Price" required>
        <button type="submit" class="btn btn-success">Add Brand</button>
      </form>

      {% if brands is not empty %}
        <h4>Brand List:</h4>
        <ul>
          {% for brand in brands %}
          <li>{{ brand.getBrandName }}</li>
            <ul>
              <li>{{ brand.getPrice }}</li>
            </ul>
          {% endfor %}
      </ul>
        <form action="/delete_brands">
          <button type="submit" class="btn btn-danger">Delete All Brands</button>
        </form>
        {% else %}
          <h3>Your database has no brands.</h3>
        {% endif %}
      </br>
      <a href="/">Home</a>

    </div>
  </body>
</html>
