<!DOCTYPE html>
<html>
  <head>
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
    <title>Shoe Store DB</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Store Database</h1>
      </div>
      <h2>{{ brand.getBrandName }}</h2>

      {% if stores is not empty %}
        <h4>Brand List:</h4>
        <ul>
          {% for store in stores %}
          <li>{{ store.getName }}</li>
          {% endfor %}
      {% else %}
        <h3>This brand has no retailers. /sadface</h3>
      {% endif %}
      </br>
      <a href="/">Home</a>
    </div>
  </body>
</html>
