<!DOCTYPE html>
<html>
  <head>
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
    <title>Shoe Store DB</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Store Database</h1>
      </div>
    <a href="/stores">View Stores</a>
    </br>
    <a href="/brands">View Brands</a>
    </div>
  </body>
</html>
